.about {
    .about__fondo {
        background-image: url(../resources/Imagenes/background_01.png);
        background-repeat: no-repeat;
        height: 610px;
        position: absolute;
        z-index: -5;
        width: 100%;
        left: 0;
        opacity: 60%;
    }
    .about__cards {
        margin-top: 60px;
        .abaout__cards__card {
            width: 270px;
            margin: auto;
            text-align: center;
            margin-bottom: 45px;
            display: flex;
            flex-wrap: wrap;
            .abaout__cards__card__img {
                width: 270px;
                height: 300px;
            }
            .abaout__cards__card__descripcion {
                color: #111111;
                padding-top: 54px;
                height: 300px;
                .abaout__cards__card__descripcion__imgFondo {
                    width: 144px;
                    opacity: 10%;
                    position: absolute;
                    left: 49%;
                }
                .abaout__cards__card__descripcion__img {
                    margin-bottom: 30px;
                }
                .abaout__cards__card__descripcion__titulo {
                    font-family: $fontFamilySecundaria;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 30px;
                    letter-spacing: -0.9px;
                    margin-bottom: 21px;
                }
                .abaout__cards__card__descripcion__titulo--white {
                    color: white;
                }
                .abaout__cards__card__descripcion__descripcion {
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    margin: 0 35px 38px 35px;
                }
                .abaout__cards__card__descripcion__descripcion--white {
                    color: white;
                }
            }
            .abaout__cards__card__descripcion--black {
                background-color: $colorPrincipal;
                color: white;
            }
        }
    }
    .about__containerIcons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 345px;
        margin: 50px auto 70px auto;
    }
    .about__caracteristica {
        width: 158px;
        height: 158px;
        text-align: center;
        .about__caracteristica__img {
            margin: 20% 0 13px 0;
        }
        .about__caracteristica__tittle {
            font-family: $fontFamilyPrincipal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 2.4px;
            text-transform: uppercase;
        }
        .about__caracteristica__tittle--color {
            color: white;
        }
    }
    .about__caracteristica--backgroundC {
        background-color: #BEAD8E;
    }
    .about__caracteristica--margin {
        margin: 0 20px 20px 0;
    }
}


@media (min-width: 1000px) {
    .about {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        position: relative;
        overflow: hidden;
        margin-bottom: 138px;
        .about__cards {
            display: flex;
            margin-left: auto;
            .abaout__cards__card {
                margin-left: 30px;
                margin-bottom: 0;
                .abaout__cards__card__img {
                    margin-top: 30px;
                }
                .abaout__cards__card__descripcion {
                    margin-top: 30px;
                    .abaout__cards__card__descripcion__imgFondo {
                        left: 22.5%;
                    }
                }
            }
            .abaout__cards__card--flexDirection {
                flex-direction: column-reverse;
                margin-left: 0;
                margin-bottom: 30px;
            }
        }
        .about__fondo {
            background-position: right;
            background-size: 100%;
            width: 1084px;
            margin-left: 44%;
            margin-top: 250px;
        }
    }
}