.facilities {
    .facilities__facility {
        width: 375px;
        height: 370px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 32px;
        .facilities__facility__numero {
            font-family: $fontFamilyPrincipal;
            font-weight: 700;
            font-size: 120px;
            line-height: 130px;
            opacity: 4%;
            width: fit-content;
            margin-left: auto;
            margin-right: 32px;
        }
        .facilities__facility__img {
            width: 70px;
            height: 70px;
            margin-left: 38px;
            margin: 81px 0 38px 38px;
        }
        .facilities__facility__titulo {
            font-family: $fontFamilySecundaria;
            font-weight: 400;
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -0.9;
            margin-bottom: 28px;
            text-align: start;
            margin-left: 35px;
        }
        .facilities__facility__description {
            font-family: $fontFamilyPrincipal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: start;
            color: #777777;
            margin: 0 87px 43px 38px;
            
        }
    }
}


@media (min-width: 1000px) { 

    .facilities {
        padding-top: 118px;
        .facilities__container {
            display: grid;
            grid-auto-columns: min-content;
            justify-content: center;
            .facilities__facility {
                width: 350px;
                height: 100%;
            }
            .facilities__facility--1 {
                grid-row: 1;
                grid-column: 1;
            }
            .facilities__facility--2 {
                grid-row: 1;
                grid-column: 2;
            }
            .facilities__facility--3 {
                grid-row: 1;
                grid-column: 3;
            }
            .facilities__facility--4 {
                grid-row: 2;
                grid-column: 1;
            }
            .facilities__facility--5 {
                grid-row: 2;
                grid-column: 2;
            }
            .facilities__facility--6 {
                grid-row: 2;
                grid-column: 3;
            }
        }
    }
}