.footer {
    margin-top: 32px;
    background-image: url(../resources/Imagenes/FondoFooter.svg);
    background-repeat: no-repeat;
    background-size: cover;
    .footer__info {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 32px;
        .footer__info__description {
            font-family: $fontFamilyPrincipal;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 32px;
        }
    }
    .footer__titulos {
        font-family: $fontFamilySecundaria;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 24px;
        width: 100%;
    }
    .footer__services {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 32px;
        .footer__services__servicios {
            width: 48%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            .footer__services__servicios__servicio {
                text-decoration: none;
                color: #777;
                width: 100%;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 46px;
                margin: 24px 0;
            }
        }
    }
    .footer__contactUs {
        width: 90%;
        margin: 0 auto;
        .footer__contactUs__contacto {
            display: flex;
            margin-bottom: 50px;
            .footer__contactUs__contacto__img {
                width: 40px;
                height: 40px;
            }
            .footer__contactUs__contacto__informacion {
                margin-left: 21px;
                .footer__contactUs__contacto__informacion__titulo {
                    font-family: $fontFamilySecundaria;
                    font-weight: 400;
                    font-size: 20px;
                    color: $colorPrincipal;
                    text-decoration: none;
                }
                .footer__contactUs__contacto__informacion__descripcion {
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    text-decoration: none;
                    h4 {
                        color: #777777;
                    }
                }
            }
        }
    }
    .footer__terms {
        background-color: #F8F8F8;
        padding: 16px 20px;
        .footer__terms__enlace, .footer__terms__enlace a {
            text-decoration: none;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: $colorPrincipal;
            margin-top: 24px;
        }
    }
}



@media (min-width: 1000px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 100px;
        .footer__info {
            width: 15%;
            height: 100%;
            margin: 0;
        }
        .footer__services {
            width: 25%;
            height: 100%;
            margin: 0 80px;
        }
        .footer__contactUs {
            width: 15%;
            height: 100%;
            margin: 0;
        }
        .footer__terms {
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding: 29px 0 32px 0;
            margin-top: 100px;
            .footer__terms__enlace {
                margin: 0;
            }
            .footer__terms__enlace {
                margin: 0;
            }
        }

    }
}