.header {
    background-color: $colorPrincipal;
    .header__text {
        display: none;
    }
    .header__bar {
        display: flex;
        align-items: center;
        background-color: white;
        width: 100%;
        padding: 0%;
        height: 70px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
        justify-content: center;
        z-index: 5;
        .header__bar__menu {
            display: flex;
            position: absolute;
            top: 70px;
            width: 100%;
            background-color: white;
            z-index: 1;
            flex-wrap: wrap;
            padding: 32px 0 0 21px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
            .header__bar__menu__enlace {
                width: 100%;
                margin-bottom: 24px;
                color: black;
                text-decoration: none;
                font-family: $fontFamilyPrincipal;
                font-weight: 600;
            }
        }
        .header__container {
            margin-right: 20px;
            .header__user {
                
            }
            .header__buscador {
                margin-left: 28px;
            }
        }
    }
    .header__bar--fixd {
        position: fixed;
    }
}

.header-burger {
    margin: auto 32px auto 20px;
    width: 25px;
    height: 13px;
    cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
    width: inherit;
    height: 3px;
}

.bar {
    position: relative;
    transform: translateY(5px);
    background: $colorPrincipal;
    transition: all 0ms 300ms;
}
.bar.animate {
    background: rgba(255, 255, 255, 0);
}

.bar:before {
content: "";
    position: absolute;
    left: 0;
    bottom: 7px;
    background: $colorPrincipal;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
content: "";
    position: absolute;
    left: 0;
    top: 7px;
    background: $colorPrincipal;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}



@media (min-width: 1000px) {
    
    .header {
        height: 100px;
        padding-top: 10px;
        .header__text {
            display: block;
            color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            width: 70%;
            margin: auto;
            padding-bottom: 10px;
        }
        .header__bar {
            width: 70%;
            margin: 0 auto;
            position: relative;
            height: auto;
            padding: 20px 20px;
            justify-content: center;
            .header__bar__menuLogo {
                display: none;
            }
            .header__bar__menu {
                width: 40%;
                position: sticky;
                padding: 0;
                background: none;
                box-shadow: none;
                justify-content: space-between;
                align-items: center;
                margin-right: auto;
                margin-left: 5%;
                .header__bar__menu__enlace {
                    margin: 0;
                    width: fit-content;
                }
            }
            .header__container {
                margin-right: 0;
                .header__user {
                    padding: 20px;
                    border: 2px solid #85858530;
                }
                .header__buscador {
                    margin-left: 20px;
                    padding: 20px;
                    border: 2px solid #85858530;
                }
            }
        }
    }


    .header-burger {
        display: none;
    }
}