.inicio {
    background-color: $colorTerciario;
    padding: 75px 20px;
    color: white;
    .inicio__titulo {
        font-family: $fontFamilySecundaria;
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: -1.2px;
        margin-bottom: 40px;
        color: white;
    }
    .inicio__titulo--black {
        color: #111111;
        margin-bottom: 16px;
        width: fit-content;
    }
    .inicio__titulo--center {
        width: 100%;
        text-align: center;
    }
    .inicio__titulo--marginB {
        margin-bottom: 16px;
    }
    .inicio__titulo--widthFitCon {
        width: fit-content;
    }
    .inicio__titulo--subTitle {
        font-family: $fontFamilySecundaria;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: $colorPrincipal;
        border-bottom: 1px solid #F1F1F1;
        padding-bottom: 13.45px;
    }
    .inicio__descripcion {
        font-family: $fontFamilyPrincipal;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 2.8px;
        width: 60%;
        margin-bottom: 40px;
        color: white;
    }
    .inicio__descripcion--black {
        color: #777777;
        margin-bottom: 32px;
    }
    .inicio__descripcion--center {
        width: 100%;
        text-align: center;
    }
    .inicio__texto {
        font-family: $fontFamilyPrincipal;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #777777;
        margin-bottom: 24px;
        width: 20rem;
    }
    .inicio__texto--width {
        width: 100%;
    }
    .inicio__texto--light {
        color: #C2C2C2;
        width: 100%;
    }

    .inicio__etiqueta {
        background-color: white;
        padding: 16px 0;
        width: fit-content;
        margin-left: auto;
        .inicio__etiqueta__titulo {
            font-family: $fontFamilyPrincipal;
            font-weight: 700;
            font-size: 16px;
            line-height: 17px;
            letter-spacing: -0.48px;
            width: fit-content;
            margin: 0 30px;
            span {
                color: $colorSecundario;
            }
        }
    }
}

.inicio--noPaddingBottom {
    padding-bottom: 0;
}

.inicio--bgColor {
    background-color: $colorPrincipal;
}

.inicio--bgNull {
    background: none;
    padding: 0px 20px;
    padding-top: 38px;
}

.inicio--width {
    width: 100%;
}

.inicio--noPaddingTop {
    padding-top: 0;
}

.inicio--paddTopMenu {
    padding-top: 115px;
}

.inicio--roomDetail {
    padding-top: 48px;
    .inicio__descripcion--roomDetail {
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 2.8px;
    }
    .inicio__titulo--roomDetail {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1.44px;
    }
}

.inicio--marginBottom {
    margin-bottom: 83px;
}


@media (min-width: 1000px) { 
    .inicio {
        padding-top: 178px;
        padding-left: 20%;
        .inicio__titulo {
            font-size: 120px;
            line-height: 130px;
            letter-spacing: -3.6px;
        }
        .inicio__titulo--section {
            font-size: 80px;
            line-height: 90px;
            letter-spacing: -2.4px;
        }
    }
    .inicio--sections {
        padding: 0;
        margin-left: 76px;
        margin-right: auto;

    }

    .inicio--paddTopMenu {
        padding-top: 195px;
    }

    .inicio--noMarginLeft {
        margin-left: 0;
    }

    .inicio--width {
        width: 40%;
    }

    .inicio--menuDesktop {
        width: fit-content;
        margin-left: 20%;
        padding-top: 210px;
        margin-bottom: 43px;
    }

}