.menu {
    margin: 60px 0;
    position: relative;
    overflow: clip;
    .menu__img {
        width: 115px;
        height: 115px;
        position: absolute;
        right: -25px;
    }
    .menu__comida {
        display: flex;
        width: 355px;
        margin: auto;
        margin-bottom: 16px;
        .menu__comida__img {
            width: 120px;
            height: 120px;
        }
        .menu__comida__info {
            margin-left: 20px;
            padding: 6px 0;
            text-align: start;
            .menu__comida__info__titulo {
                font-family: $fontFamilySecundaria;
                font-weight: 400;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -0.72px;
            }
            .menu__comida__info__descripcion {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                margin-top: 12px;
            }
        }
    }
    .menu__comida--desktop {
        display: none;
    }
    .menu__imagenes{
        display: none;
    }
}


@media (min-width: 1000px) {
    .menu {
        .menu__img {
            right: auto;
            left: 80px;
            width: 229px;
            height: 229px;
        }
        .menu__comida {
            width: fit-content;
            .menu__comida__info {
                margin: 0;
                padding: 21px 30px;
                width: 50%;
            }
            .menu__comida__info--black {
                background-color: $colorPrincipal;
                .menu__comida__info__titulo--black {
                    color: white;
                }
                .menu__comida__info__descripcion--black {
                    color: white;
                }
            }
        }
        .menu__comida--desktop {
            display: flex;
        }
        .menu__comida--grid1 {
            grid-column: 1;
            grid-row: 1;
        }
        .menu__comida--grid2 {
            grid-column: 2;
            grid-row: 1;
        }

        .menu__imagenes{
            display: flex;
            justify-content: space-evenly;
            margin: 120px auto 0 auto;
            width: fit-content;
            .menu__imagen {
                width: 370px;
                height: 370px;
                margin-right: 30px;
            }
            .menu__imagen--noMargin {
                margin-right: 0px;
            }
        }
    }
}