.menu {
    margin-top: 60px;
    .menu__img {
        width: 115px;
        height: 115px;
        margin-left: 100%;
        position: relative;
        right: 90px;
    }
    .menu__comida {
        display: flex;
        width: 355px;
        margin: auto;
        margin-bottom: 16px;
        .menu__comida__img {
            width: 120px;
            height: 120px;
        }
        .menu__comida__info {
            margin-left: 20px;
            padding: 6px 0;
            text-align: start;
            .menu__comida__info__titulo {
                font-family: $fontFamilySecundaria;
                font-weight: 400;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -0.72px;
            }
            .menu__comida__info__descripcion {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                margin-top: 12px;
            }
        }
    }
}