.rooms {
    .rooms__caracteristicas {
        height: 40px;
        width: 50%;
        position: relative;
        top: 20px;
        background-color: white;
        z-index: 5;
        padding: 12px 24px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        img {
            width: 16px;
        }
    }
    .rooms__card {
        .rooms__card__img {
            height: 100%;
        }
        .rooms__card__info {
            width: 89%;
            margin: auto;
            position: relative;
            bottom: 15px;
            background-color: white;
            padding: 19px 24px;
            .rooms__card__info__titulo {
                font-family: $fontFamilySecundaria;
                font-weight: 400;
                font-size: 28px;
                line-height: 36px;
                letter-spacing: -1.2px;
                margin-bottom: 12px;
            }
            .rooms__card__info__descripcion {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #777777;
                margin-bottom: 12px;
            }
            .rooms__card__info__precio {
                font-family: $fontFamilyPrincipal;
                font-weight: 700;
                font-size: 32px;
                line-height: 43px;
                color: $colorSecundario;
                span {
                    font-family: $fontFamilyPrincipal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 43px;
                    color: $colorSecundario;
                }
            }
        }
    }
}


@media (min-width: 1000px) {
    .rooms {
        margin-top: 138px;
        .rooms__card {
            .rooms__card__img {
                height: 26vw;
            }
            .rooms__caracteristicas {
                display: none;
                transition: transform 1s;
            }
            .rooms__card__info {
                display: none;
                transition: transform 1s;
            }
        }
        
        .rooms__card:hover {
            .rooms__caracteristicas {
                transform: scale(1.2);
            }
            .rooms__card__info {
                transform: scale(1.2);
            }
        }
        
        .swiper-slide-active {
            .rooms__card {
                .rooms__caracteristicas {
                    display: flex;
                }
                .rooms__card__info {
                    display: block;
                }
            }
        }
    }

}
