.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-homeRooms-desktop {
    display: none;
}

.swiper-menu {
    display: flex;
    flex-wrap: wrap;
}

.swiper--imagenesMenu {
    width: 355px;
    height: 355px;
    margin-top: 60px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide--wrap {
    flex-wrap: wrap;
    margin-right: 0 !important;
    flex-flow: column nowrap;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next--custom, .swiper-button-prev--custom {
    top: 35vw;
    height: 8.3vw;
    width: 8.3vw;
    --swiper-navigation-size: 2vw;
    color: black;
    background-color: #F8F8F8;
}


.swiper-button-next--custom {
    color: white;
    background-color: $colorSecundario;
}

.swiper-pagination-bullet-active {
    background-color: $colorSecundario;
}

.swiper-button-prev--bottom, .swiper-button-next--bottom {
    position: static;
    margin-right: 20px;
    margin-top: 10px;
}

.swiper-button-prev--bottom {
    margin-left: auto;
}


@media (min-width: 1000px) {

    // HOME-ROOMS
    .swiper-homeRooms-mobile {
        display: none;
    }
    .swiper-homeRooms-desktop {
        display: block;

        .swiper-slide-homeRooms {
            margin-top: 40px;
        }
    
        .swiper-slide-active {
            margin-top: 0px;
        }
    }

    .swiper-button-next--custom, .swiper-button-prev--custom {
        top: 35%;
        height: 4.3vw;
        width: 4.3vw;
        --swiper-navigation-size: 1vw;
    }

    .swiper-button-next--custom {
        right: 25%;
    }

    .swiper-button-prev--custom {
        left: 25%;
    }


    // FACILITIES
    .swiper-facilities {
        display: none;
    }

    // Menu
    .swiper-menu {
        overflow: initial;
    }

    .swiper-wrapper-menu {
        align-items: center;
    }

    .swiper-slide--wrap {
        display: grid;
        column-gap: 165px;
    }

    .swiper-slide--mobile {
        display: none;
    }

    .swiper--imagenesMenu {
        display: none;
    }

    .swiper-button-prev--top, .swiper-button-next--top {
        position: relative;
        right: 20%;
        top: -120%;
        left: auto;
    }

}