.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next--custom, .swiper-button-prev--custom {
    top: 25%;
    height: 8.3vw;
    width: 8.3vw;
    --swiper-navigation-size: 10px;
    color: black;
    background-color: white;
}


.swiper-button-next--custom {
    color: white;
    background-color: $colorSecundario;
}

.swiper-pagination-bullet-active {
    background-color: $colorSecundario;
}