.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper--flex {
    display: flex;
    flex-wrap: wrap;
}

.swiper--square {
    width: 355px;
    height: 355px;
    margin-top: 60px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide--wrap {
    flex-wrap: wrap;
    margin-right: 0 !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next--custom, .swiper-button-prev--custom {
    top: 25%;
    height: 8.3vw;
    width: 8.3vw;
    --swiper-navigation-size: 10px;
    color: black;
    background-color: #F8F8F8;
}


.swiper-button-next--custom {
    color: white;
    background-color: $colorSecundario;
}

.swiper-pagination-bullet-active {
    background-color: $colorSecundario;
}

.swiper-button-prev--bottom, .swiper-button-next--bottom {
    position: static;
    margin-right: 20px;
    margin-top: 10px;
}

.swiper-button-prev--bottom {
    margin-left: auto;
}