$colorPrincipal: #222222;
$colorSecundario: #BEAD8E;
$colorTerciario: #333333;

$fontFamilyPrincipal: 'Archivo', sans-serif;
$fontFamilySecundaria: 'Old Standard TT', serif;
$fontFamilyTerciaria: 'Oswald', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $colorPrincipal;
}

body {
    min-width: 320px;
}

.displayNone {
    display: none !important;
}