* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222222;
}

body {
  min-width: 320px;
}

.displayNone {
  display: none !important;
}

.header {
  background-color: #222222;
}
.header .header__text {
  display: none;
}
.header .header__bar {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 0%;
  height: 70px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  justify-content: center;
  z-index: 5;
}
.header .header__bar .header__bar__menu {
  display: flex;
  position: absolute;
  top: 70px;
  width: 100%;
  background-color: white;
  z-index: 1;
  flex-wrap: wrap;
  padding: 32px 0 0 21px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
}
.header .header__bar .header__bar__menu .header__bar__menu__enlace {
  width: 100%;
  margin-bottom: 24px;
  color: black;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}
.header .header__bar .header__container {
  margin-right: 20px;
}
.header .header__bar .header__container .header__buscador {
  margin-left: 28px;
}
.header .header__bar--fixd {
  position: fixed;
}

.header-burger {
  margin: auto 32px auto 20px;
  width: 25px;
  height: 13px;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: inherit;
  height: 3px;
}

.bar {
  position: relative;
  transform: translateY(5px);
  background: #222222;
  transition: all 0ms 300ms;
}

.bar.animate {
  background: rgba(255, 255, 255, 0);
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  background: #222222;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background: #222222;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@media (min-width: 1000px) {
  .header {
    height: 100px;
    padding-top: 10px;
  }
  .header .header__text {
    display: block;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
  }
  .header .header__bar {
    width: 70%;
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 20px 20px;
    justify-content: center;
  }
  .header .header__bar .header__bar__menuLogo {
    display: none;
  }
  .header .header__bar .header__bar__menu {
    width: 40%;
    position: -webkit-sticky;
    position: sticky;
    padding: 0;
    background: none;
    box-shadow: none;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: 5%;
  }
  .header .header__bar .header__bar__menu .header__bar__menu__enlace {
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header .header__bar .header__container {
    margin-right: 0;
  }
  .header .header__bar .header__container .header__user {
    padding: 20px;
    border: 2px solid rgba(133, 133, 133, 0.1882352941);
  }
  .header .header__bar .header__container .header__buscador {
    margin-left: 20px;
    padding: 20px;
    border: 2px solid rgba(133, 133, 133, 0.1882352941);
  }
  .header-burger {
    display: none;
  }
}
.logo {
  display: flex;
  align-items: center;
  margin: 0 0vw 0 0;
  font-family: "Archivo", sans-serif;
  width: 50%;
  margin-right: auto;
}
.logo .logo__logo {
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
  padding: 10px;
  font-size: 25px;
  text-align: center;
  width: 46px;
}
.logo .logo__titulo {
  margin-left: 5%;
  font-size: 17px;
}
.logo .logo__titulo span {
  font-weight: 400;
}

.logo--footer {
  width: 100%;
  margin-bottom: 57px;
}
.logo--footer .logo__logo--footer {
  font-size: 40px;
  width: 64px;
  background-color: #BEAD8E;
  color: white;
}
.logo--footer .logo__titulo--footer {
  font-size: 22px;
  margin-left: 5%;
}

@media (min-width: 1000px) {
  .logo {
    margin: 0;
    width: auto;
  }
  .logo .logo__logo {
    font-size: 40px;
    width: auto;
    padding: 18px 24px;
  }
  .logo .logo__titulo {
    font-size: 26px;
  }
}
.inicio {
  background-color: #333333;
  padding: 75px 20px;
  color: white;
}
.inicio .inicio__titulo {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 40px;
  color: white;
}
.inicio .inicio__titulo--black {
  color: #111111;
  margin-bottom: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.inicio .inicio__titulo--center {
  width: 100%;
  text-align: center;
}
.inicio .inicio__titulo--marginB {
  margin-bottom: 16px;
}
.inicio .inicio__titulo--widthFitCon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.inicio .inicio__titulo--subTitle {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #222222;
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 13.45px;
}
.inicio .inicio__descripcion {
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.8px;
  width: 60%;
  margin-bottom: 40px;
  color: white;
}
.inicio .inicio__descripcion--black {
  color: #777777;
  margin-bottom: 32px;
}
.inicio .inicio__descripcion--center {
  width: 100%;
  text-align: center;
}
.inicio .inicio__texto {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 24px;
  width: 20rem;
}
.inicio .inicio__texto--width {
  width: 100%;
}
.inicio .inicio__texto--light {
  color: #C2C2C2;
  width: 100%;
}
.inicio .inicio__etiqueta {
  background-color: white;
  padding: 16px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.inicio .inicio__etiqueta .inicio__etiqueta__titulo {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.48px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 30px;
}
.inicio .inicio__etiqueta .inicio__etiqueta__titulo span {
  color: #BEAD8E;
}

.inicio--noPaddingBottom {
  padding-bottom: 0;
}

.inicio--bgColor {
  background-color: #222222;
}

.inicio--bgNull {
  background: none;
  padding: 0px 20px;
  padding-top: 38px;
}

.inicio--width {
  width: 100%;
}

.inicio--noPaddingTop {
  padding-top: 0;
}

.inicio--paddTopMenu {
  padding-top: 115px;
}

.inicio--roomDetail {
  padding-top: 48px;
}
.inicio--roomDetail .inicio__descripcion--roomDetail {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
}
.inicio--roomDetail .inicio__titulo--roomDetail {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.44px;
}

.inicio--marginBottom {
  margin-bottom: 83px;
}

@media (min-width: 1000px) {
  .inicio {
    padding-top: 178px;
    padding-left: 20%;
  }
  .inicio .inicio__titulo {
    font-size: 120px;
    line-height: 130px;
    letter-spacing: -3.6px;
  }
  .inicio .inicio__titulo--section {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2.4px;
  }
  .inicio--sections {
    padding: 0;
    margin-left: 76px;
    margin-right: auto;
  }
  .inicio--paddTopMenu {
    padding-top: 195px;
  }
  .inicio--noMarginLeft {
    margin-left: 0;
  }
  .inicio--width {
    width: 40%;
  }
  .inicio--menuDesktop {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 20%;
    padding-top: 210px;
    margin-bottom: 43px;
  }
}
.boton {
  background-color: #BEAD8E;
  width: 217px;
  height: 60px;
  padding: 22px 45px;
  margin-bottom: 24px;
  cursor: pointer;
}
.boton .boton__titulo {
  color: white;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15.23px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.boton--transparent {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.boton--big {
  width: 250px;
  padding: 22px 24px;
}

.boton--marginAuto {
  margin: auto;
}

@media (min-width: 1000px) {
  .boton {
    display: inline-block;
  }
  .boton--transparent {
    margin-left: 30px;
  }
}
.disponible {
  background-color: #222222;
  color: white;
  padding: 36px 20px;
  margin-bottom: 12%;
}
.disponible .disponible__titulo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  margin-bottom: 20px;
  color: white;
}
.disponible .disponible__titulo--roomDetail {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.54px;
  text-align: center;
  margin-bottom: 35px;
}
.disponible .disponible__titulo--balack {
  color: #222222;
}
.disponible .disponible__date {
  border-bottom: 2px solid #BEAD8E;
  margin-bottom: 30px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
}
.disponible .disponible__date .disponible__date__img {
  width: 16px;
  height: 16px;
}
.disponible .disponible__date .disponible__date__input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #686868;
  width: 93%;
  margin-left: 2%;
  background: none;
  border: none;
}
.disponible .disponible__date--roomDetail {
  border: none;
  background-color: #F8F8F8;
  padding: 22px 30px 22px 29px;
}
.disponible .disponible__descripcion {
  margin-top: 48px;
  font-family: #777777;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.disponible--roomDetail {
  background: none;
}

@media (min-width: 1000px) {
  .disponible {
    display: flex;
    justify-content: space-between;
    padding: 37px 20%;
    align-items: center;
    margin-bottom: 0;
  }
  .disponible .disponible__container {
    width: 28%;
  }
  .disponible .disponible__container--margin {
    margin-right: auto;
    margin-left: 30px;
  }
}
.about .about__fondo {
  background-image: url(../resources/Imagenes/background_01.png);
  background-repeat: no-repeat;
  height: 610px;
  position: absolute;
  z-index: -5;
  width: 100%;
  left: 0;
  opacity: 60%;
}
.about .about__cards {
  margin-top: 60px;
}
.about .about__cards .abaout__cards__card {
  width: 270px;
  margin: auto;
  text-align: center;
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
}
.about .about__cards .abaout__cards__card .abaout__cards__card__img {
  width: 270px;
  height: 300px;
}
.about .about__cards .abaout__cards__card .abaout__cards__card__descripcion {
  color: #111111;
  padding-top: 54px;
  height: 300px;
}
.about .about__cards .abaout__cards__card .abaout__cards__card__descripcion .abaout__cards__card__descripcion__imgFondo {
  width: 144px;
  opacity: 10%;
  position: absolute;
  left: 49%;
}
.about .about__cards .abaout__cards__card .abaout__cards__card__descripcion .abaout__cards__card__descripcion__img {
  margin-bottom: 30px;
}
.about .about__cards .abaout__cards__card .abaout__cards__card__descripcion .abaout__cards__card__descripcion__titulo {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  margin-bottom: 21px;
}
.about .about__cards .abaout__cards__card .abaout__cards__card__descripcion .abaout__cards__card__descripcion__titulo--white {
  color: white;
}
.about .about__cards .abaout__cards__card .abaout__cards__card__descripcion .abaout__cards__card__descripcion__descripcion {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0 35px 38px 35px;
}
.about .about__cards .abaout__cards__card .abaout__cards__card__descripcion .abaout__cards__card__descripcion__descripcion--white {
  color: white;
}
.about .about__cards .abaout__cards__card .abaout__cards__card__descripcion--black {
  background-color: #222222;
  color: white;
}

@media (min-width: 1000px) {
  .about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    position: relative;
    overflow: hidden;
    margin-bottom: 138px;
  }
  .about .about__cards {
    display: flex;
    margin-left: auto;
  }
  .about .about__cards .abaout__cards__card {
    margin-left: 30px;
    margin-bottom: 0;
  }
  .about .about__cards .abaout__cards__card .abaout__cards__card__img {
    margin-top: 30px;
  }
  .about .about__cards .abaout__cards__card .abaout__cards__card__descripcion {
    margin-top: 30px;
  }
  .about .about__cards .abaout__cards__card .abaout__cards__card__descripcion .abaout__cards__card__descripcion__imgFondo {
    left: 22.5%;
  }
  .about .about__cards .abaout__cards__card--flexDirection {
    flex-direction: column-reverse;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .about .about__fondo {
    background-position: right;
    background-size: 100%;
    width: 1084px;
    margin-left: 44%;
    margin-top: 250px;
  }
}
.rooms .rooms__caracteristicas {
  height: 40px;
  width: 50%;
  position: relative;
  top: 20px;
  background-color: white;
  z-index: 4;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.rooms .rooms__caracteristicas img {
  width: 16px;
}
.rooms .rooms__caracteristicas .rooms__caracteristicas__titulo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #777;
  margin-left: 8px;
}
.rooms .rooms__caracteristicas--top {
  top: -20px;
}
.rooms .rooms__caracteristicas--roomDetail {
  position: static;
  padding: 0;
  width: 40%;
  height: auto;
  margin-bottom: 17px;
  justify-content: start;
}
.rooms .rooms__card .rooms__card__img {
  height: 100%;
}
.rooms .rooms__card .rooms__card__img--roomDetail {
  width: 90%;
  margin: 0 5%;
}
.rooms .rooms__card .rooms__card__img--offers {
  width: 90%;
  height: 162px;
  display: block;
  margin: auto;
}
.rooms .rooms__card .rooms__card__info {
  width: 90%;
  margin: auto;
  position: relative;
  bottom: 15px;
  background-color: white;
  padding: 19px 24px;
}
.rooms .rooms__card .rooms__card__info .rooms__card__info__titulo {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.2px;
  margin-bottom: 12px;
}
.rooms .rooms__card .rooms__card__info .rooms__card__info__descripcion {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 12px;
}
.rooms .rooms__card .rooms__card__info .rooms__card__info__precio {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: #BEAD8E;
}
.rooms .rooms__card .rooms__card__info .rooms__card__info__precio span {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 43px;
  color: #BEAD8E;
}
.rooms .rooms__card .rooms__card__info .rooms__card__info__precio--fontSize {
  font-size: 16px;
  line-height: 17px;
}
.rooms .rooms__card .rooms__card__info .rooms__card__info__precio--fontSize span {
  font-size: 16px;
  line-height: 17px;
}
.rooms .rooms__card .rooms__card__info .rooms__card__info__precio--widht {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.rooms .rooms__card .rooms__card__info .rooms__info__buttonBooking {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  margin-left: 19px;
  color: #BDBDBD;
  text-decoration: none;
}
.rooms .rooms__card .rooms__card__info--flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.rooms .rooms__card .rooms__card__info--roomDetail {
  padding: 0;
  position: static;
  margin-bottom: 16px;
}
.rooms .rooms__card .rooms__card__info--offers {
  padding: 0;
  position: relative;
  margin-bottom: 16px;
}
.rooms--flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.rooms--margin {
  margin: 49px 0;
}

@media (min-width: 1000px) {
  .rooms {
    margin-top: 138px;
  }
  .rooms .rooms__card .rooms__card__img {
    height: 26vw;
  }
  .rooms .rooms__card .rooms__caracteristicas {
    display: none;
    transition: transform 1s;
  }
  .rooms .rooms__card .rooms__card__info {
    display: none;
    transition: transform 1s;
  }
  .rooms .rooms__card:hover .rooms__caracteristicas {
    transform: scale(1.2);
  }
  .rooms .rooms__card:hover .rooms__card__info {
    transform: scale(1.2);
  }
  .rooms .swiper-slide-active .rooms__card .rooms__caracteristicas {
    display: flex;
  }
  .rooms .swiper-slide-active .rooms__card .rooms__card__info {
    display: block;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-homeRooms-desktop {
  display: none;
}

.swiper-menu {
  display: flex;
  flex-wrap: wrap;
}

.swiper--imagenesMenu {
  width: 355px;
  height: 355px;
  margin-top: 60px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide--wrap {
  flex-wrap: wrap;
  margin-right: 0 !important;
  flex-flow: column nowrap;
}

.swiper-slide--padding {
  padding: 0 5%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next--custom, .swiper-button-prev--custom {
  top: 35vw;
  height: 8.3vw;
  width: 8.3vw;
  --swiper-navigation-size: 2vw;
  color: black;
  background-color: #F8F8F8;
}

.swiper-button-next--custom {
  color: white;
  background-color: #BEAD8E;
}

.swiper-pagination-bullet-active {
  background-color: #BEAD8E;
}

.swiper-button-prev--bottom, .swiper-button-next--bottom {
  position: static;
  margin-right: 20px;
  margin-top: 10px;
}

.swiper-button-prev--bottom {
  margin-left: auto;
}

.swiper-pagination--rooms span {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  width: 39px;
  height: 39px;
  padding: 11px 0;
  border-radius: 0;
  color: #222222;
  background: none;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  color: white !important;
  background-color: #BEAD8E !important;
}

@media (min-width: 1000px) {
  .swiper-homeRooms-mobile {
    display: none;
  }
  .swiper-homeRooms-desktop {
    display: block;
  }
  .swiper-homeRooms-desktop .swiper-slide-homeRooms {
    margin-top: 40px;
  }
  .swiper-homeRooms-desktop .swiper-slide-active {
    margin-top: 0px;
  }
  .swiper-button-next--custom, .swiper-button-prev--custom {
    top: 35%;
    height: 4.3vw;
    width: 4.3vw;
    --swiper-navigation-size: 1vw;
  }
  .swiper-button-next--custom {
    right: 25%;
  }
  .swiper-button-prev--custom {
    left: 25%;
  }
  .swiper-facilities {
    display: none;
  }
  .swiper-menu {
    overflow: initial;
  }
  .swiper-wrapper-menu {
    align-items: center;
  }
  .swiper-slide--wrap {
    display: grid;
    -moz-column-gap: 165px;
         column-gap: 165px;
  }
  .swiper-slide--mobile {
    display: none;
  }
  .swiper--imagenesMenu {
    display: none;
  }
  .swiper-button-prev--top, .swiper-button-next--top {
    position: relative;
    right: 20%;
    top: -120%;
    left: auto;
  }
}
.video {
  background-color: #222222;
}
.video .video__iframe {
  margin-bottom: 36px;
}
.video .video__fondo {
  display: none;
}

@media (min-width: 1000px) {
  .video {
    padding-left: 20%;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .video .video__iframe {
    position: absolute;
    width: 30vw;
    height: 23.5vw;
    right: 10%;
    transform: translateY(-22rem);
    z-index: 1;
  }
  .video .video__fondo {
    background-color: #BEAD8E;
    display: block;
    position: absolute;
    width: 20%;
    right: 0;
    transform: translateY(-81.7%);
    height: 41.4rem;
  }
}
.facilities .facilities__facility {
  width: 375px;
  height: 370px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
.facilities .facilities__facility .facilities__facility__numero {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 120px;
  line-height: 130px;
  opacity: 4%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: 32px;
}
.facilities .facilities__facility .facilities__facility__img {
  width: 70px;
  height: 70px;
  margin-left: 38px;
  margin: 81px 0 38px 38px;
}
.facilities .facilities__facility .facilities__facility__titulo {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9;
  margin-bottom: 28px;
  text-align: start;
  margin-left: 35px;
}
.facilities .facilities__facility .facilities__facility__description {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: start;
  color: #777777;
  margin: 0 87px 43px 38px;
}

@media (min-width: 1000px) {
  .facilities {
    padding-top: 118px;
  }
  .facilities .facilities__container {
    display: grid;
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
    justify-content: center;
  }
  .facilities .facilities__container .facilities__facility {
    width: 350px;
    height: 100%;
  }
  .facilities .facilities__container .facilities__facility--1 {
    grid-row: 1;
    grid-column: 1;
  }
  .facilities .facilities__container .facilities__facility--2 {
    grid-row: 1;
    grid-column: 2;
  }
  .facilities .facilities__container .facilities__facility--3 {
    grid-row: 1;
    grid-column: 3;
  }
  .facilities .facilities__container .facilities__facility--4 {
    grid-row: 2;
    grid-column: 1;
  }
  .facilities .facilities__container .facilities__facility--5 {
    grid-row: 2;
    grid-column: 2;
  }
  .facilities .facilities__container .facilities__facility--6 {
    grid-row: 2;
    grid-column: 3;
  }
}
.menu {
  margin: 60px 0;
  position: relative;
  overflow: clip;
}
.menu .menu__img {
  width: 115px;
  height: 115px;
  position: absolute;
  right: -25px;
}
.menu .menu__comida {
  display: flex;
  width: 355px;
  margin: auto;
  margin-bottom: 16px;
}
.menu .menu__comida .menu__comida__img {
  width: 120px;
  height: 120px;
}
.menu .menu__comida .menu__comida__info {
  margin-left: 20px;
  padding: 6px 0;
  text-align: start;
}
.menu .menu__comida .menu__comida__info .menu__comida__info__titulo {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.72px;
}
.menu .menu__comida .menu__comida__info .menu__comida__info__descripcion {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 12px;
}
.menu .menu__comida--desktop {
  display: none;
}
.menu .menu__imagenes {
  display: none;
}

@media (min-width: 1000px) {
  .menu .menu__img {
    right: auto;
    left: 80px;
    width: 229px;
    height: 229px;
  }
  .menu .menu__comida {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .menu .menu__comida .menu__comida__info {
    margin: 0;
    padding: 21px 30px;
    width: 50%;
  }
  .menu .menu__comida .menu__comida__info--black {
    background-color: #222222;
  }
  .menu .menu__comida .menu__comida__info--black .menu__comida__info__titulo--black {
    color: white;
  }
  .menu .menu__comida .menu__comida__info--black .menu__comida__info__descripcion--black {
    color: white;
  }
  .menu .menu__comida--desktop {
    display: flex;
  }
  .menu .menu__comida--grid1 {
    grid-column: 1;
    grid-row: 1;
  }
  .menu .menu__comida--grid2 {
    grid-column: 2;
    grid-row: 1;
  }
  .menu .menu__imagenes {
    display: flex;
    justify-content: space-evenly;
    margin: 120px auto 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .menu .menu__imagenes .menu__imagen {
    width: 370px;
    height: 370px;
    margin-right: 30px;
  }
  .menu .menu__imagenes .menu__imagen--noMargin {
    margin-right: 0px;
  }
}
.datos {
  background-color: #222222;
  padding: 48px 0;
  margin-bottom: 60px;
}
.datos .datos__container {
  text-align: center;
  margin-bottom: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: white;
}
.datos .datos__container .datos__container__img {
  width: 78px;
  height: 80px;
  margin-bottom: 50px;
}
.datos .datos__container .datos__container__titulo {
  font-size: 60px;
  line-height: 21px;
  color: white;
}
.datos .datos__container .datos__container__plus {
  font-size: 14px;
  color: white;
}
.datos .datos__container .datos__container__descripcion {
  font-weight: 700;
  font-size: 16px;
  color: #999999;
}
.datos .datos__container--noMargin {
  margin: 0;
}

@media (min-width: 1000px) {
  .datos {
    display: flex;
    justify-content: space-evenly;
    padding: 80px 80px;
    margin: 60px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .datos .datos__container {
    margin: 0;
    margin-right: 92px;
  }
  .datos .datos__container--noMargin {
    margin: 0;
  }
}
.contactUs {
  width: 90%;
  margin: 0 auto;
}
.contactUs .contactUs__contacto {
  display: flex;
  margin-bottom: 50px;
}
.contactUs .contactUs__contacto .contactUs__img {
  width: 40px;
  height: 40px;
}
.contactUs .contactUs__contacto .contactUs__img--margin {
  margin: 64px 0 56px 0;
}
.contactUs .contactUs__contacto .contactUs__informacion {
  margin-left: 21px;
}
.contactUs .contactUs__contacto .contactUs__informacion .contactUs__informacion__titulo {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 20px;
  color: #222222;
  text-decoration: none;
}
.contactUs .contactUs__contacto .contactUs__informacion .contactUs__informacion__titulo--lineHeight {
  line-height: 48px;
}
.contactUs .contactUs__contacto .contactUs__informacion .contactUs__informacion__descripcion {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}
.contactUs .contactUs__contacto .contactUs__informacion .contactUs__informacion__descripcion h4 {
  color: #777777;
}
.contactUs .contactUs__contacto .contactUs__informacion--margin {
  margin: 53px 0 56px 21px;
}
.contactUs .contactUs__contacto--padding {
  padding: 0 5%;
}
.contactUs .contactUs__contacto--margin {
  margin-bottom: 47px;
}
.contactUs .contactUs__fondo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 234px;
  letter-spacing: -6px;
  color: #F8F8F8;
  position: absolute;
  z-index: -1;
  right: 0;
}
.contactUs .contactUs__map {
  width: 355px;
  height: 200px;
  margin: 23px auto 0 auto;
}

.contactUs--pading {
  padding: 24px 0 60px 0;
}

.contactUs--flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1000px) {
  .contactUs {
    width: 15%;
    height: 100%;
    margin: 0;
  }
}
.formulario .formulario__form {
  text-align: center;
}
.formulario .formulario__form .formulario__input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #777777;
  background-color: #F8F8F8;
  border: none;
  width: 80%;
  padding: 25px 0 23px 56px;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 27.5px;
}
.formulario .formulario__form .formulario__input--name {
  background-image: url(../resources/Iconos/form-name.png);
}
.formulario .formulario__form .formulario__input--phone {
  background-image: url(../resources/Iconos/form-phone.png);
}
.formulario .formulario__form .formulario__input--email {
  background-image: url(../resources/Iconos/form-email.png);
}
.formulario .formulario__form .formulario__input--subject {
  background-image: url(../resources/Iconos/form-subject.png);
}
.formulario .formulario__form .formulario__input--message {
  background-image: url(../resources/Iconos/form-message.png);
  margin-bottom: 36px;
}

.rs {
  display: flex;
}
.rs .rs__logo {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #F8F8F8;
  margin-right: 10px;
}
.rs .rs__logo img {
  margin: 20% 0;
}
.rs .rs__logo--color {
  background-color: #BEAD8E;
}

.employee {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 63px;
  padding: 60px 26px 41px 25px;
}
.employee .employee__fotoPerfil {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-bottom: 38px;
}
.employee .employee__checkPerfil {
  padding: 11px;
  background-color: #BEAD8E;
  border-radius: 100%;
  border: 4px solid white;
  position: absolute;
  left: 54%;
}
.employee .employee__nombre {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  margin-bottom: 15px;
}
.employee .employee__puesto {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #BDAC8D;
  margin-bottom: 25px;
}
.employee .employee__descripcion {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
}

#map {
  height: 400px;
  width: 100%;
}

.footer {
  margin-top: 32px;
  background-image: url(../resources/Imagenes/FondoFooter.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .footer__info {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.footer .footer__info .footer__info__description {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.footer .footer__titulos {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 24px;
  width: 100%;
}
.footer .footer__services {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}
.footer .footer__services .footer__services__servicios {
  width: 48%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer__services .footer__services__servicios .footer__services__servicios__servicio {
  text-decoration: none;
  color: #777;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 46px;
  margin: 24px 0;
}
.footer .footer__terms {
  background-color: #F8F8F8;
  padding: 16px 20px;
}
.footer .footer__terms .footer__terms__enlace, .footer .footer__terms .footer__terms__enlace a {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #222222;
  margin-top: 24px;
}

@media (min-width: 1000px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
  }
  .footer .footer__info {
    width: 15%;
    height: 100%;
    margin: 0;
  }
  .footer .footer__services {
    width: 25%;
    height: 100%;
    margin: 0 80px;
  }
  .footer .footer__terms {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 29px 0 32px 0;
    margin-top: 100px;
  }
  .footer .footer__terms .footer__terms__enlace {
    margin: 0;
  }
  .footer .footer__terms .footer__terms__enlace {
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */