@import "./scss/_variables";
@import "./scss/_header";
@import "./scss/_logo";
@import "./scss/_inicio";
@import "./scss/_boton";
@import "./scss/_disponible";
@import "./scss/_about";
@import "./scss/_rooms";
@import "./scss/_swiper";
@import "./scss/_video";
@import "./scss/_facilities";
@import "./scss/_menu";
@import "./scss/_rs";
@import "./scss/_footer";